/* Paleta de pães assados */
:root {
    --color-assado: rgb(64, 32, 8);
    --color-dourado: rgb(199, 125, 41);
    --color-branco: rgb(255, 255, 255);
    --color-douradinho: rgb(254, 176, 83);

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilo do body */
body {
    background-image: url(img/pao_centro.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width: 100%;
    heigth:100%;
/*     height */
}

/* Inicio do header/navbar */



/* menu hamburguer */

.header {
    background-color: var(--color-assado);
    width: auto;
    height: 80px;
    position: fixed;
    top: 0;
   
}

.navbar {
   
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 34px;

}

/* logotipo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo h1 {
    font-family: 'Lobster', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: var(--color-dourado);
}

/*  menu*/

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    padding: 1rem;
    font-weight: 800;
    font-size: 1rem;
    color: var(--color-branco);
}

.menu a:hover {
    color: var(--color-douradinho);
    text-decoration: overline;
    transition: 0.4s;
    cursor: pointer;


}

.menu h2 {
    text-align: right;
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--color-dourado);
    font-style: italic;

}

/* hamburguer */


.hamburguer {
    display: none;
    cursor: pointer;
}

.barra {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--color-douradinho);
    transition: all 0.3s ease-in-out;
}

/* RESPONSIVIDADE */
@media (max-width:768px) {
    .menu {
        display: none;
    }
    .hamburguer {
        display: block;
    }
    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .barra:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .barra:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        justify-content: space-between;
        padding: 0 100px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--color-assado);
        align-items: center;
        position: fixed;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        border-radius: 0 0 20px 20px;
    }
}

@media(max-width:1008px){
    .produtos .card{
        display: grid;
        grid-template-columns: 2fr;
    }


}


/* FIm do media screen */


    .menu a:hover {
        color: var(--color-douradinho);
        text-decoration: overline;
        transition: 0.4s;
        cursor: pointer;


    }

    .menu.active {
        left: 0px;
    }

    .chamada.active {
        padding-top: 0vh;


        transition: 0.5s;
    }

    /* fim do estilo do header;navbar */

    /* inicio do corpo/main */
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .chamada {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10rem;
        height: 60vw;
        color: var(--color-assado);
    }

    .chamada h2 {
        font-family: 'Lobster', sans-serif;
        font-weight: 900;
        font-size: 6rem;
    }

    .chamada h3 {
        font-family: 'Lobster', sans-serif;
        font-weight: 700;
        font-size: 3rem;
    }

    /* protudos */


    /* Cards */
    .card{
        display: flex;
        width: auto;
        height: auto;
        margin: 1rem;
        padding: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-branco);
        border-radius: 10px ;
    }

    .card img{
       border-radius: 10px ;
       border: 1px solid var(--color-assado);
    }
    .card-title h2{
        display: flex;
        justify-content: flex-start;
        color: var(--color-branco);
        background-color: var(--color-assado);
        padding: 1rem;
        text-align:flex-start;
    }
    .card-subtitle{
        color: var(--color-assado);
        font-weight: 600;
        font-size: 1.6rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5vh;
        height: auto;
        color: var(--color-branco);
        background-color: var(--color-assado);
    }

    .media{
        display: flex;
        flex-flow: row nowrap;
  
        border-top: 1px solid var(--color-branco);
        border-bottom: 1px solid var(--color-branco);
    }
    .media img{
        height: 50px;
        width: 50px;
        margin: 30px;
        border-radius: 50%;
    }

    footer p{
        margin: 20px;
        color: var(--color-branco);
    }
    #topo-btn{
        background-color: var(--color-douradinho);
        position: fixed;
        bottom: 30px;
        right: 30px;
        text-decoration: none;
        border-radius: 50%;
        

    }
